In [1]:
import pandas as pd
import pandas_profiling as prof

ModuleNotFoundError: No module named 'pandas_profiling'

In [2]:
df = pd.read_csv('./df_price.csv')
df.drop(columns=['Unnamed: 0'], inplace=True)
df.head(3)

,apartment_ratio,unique_active_buildings_count,avg_price_sqm,month,unique_active_building_series_count,rooms_offered_3_ratio,city_quadkey,median_price_sqm,rooms_offered_4_more_ratio,rooms_offered_1_ratio,...,building_type_ANOTHER_bmin,building_type_BLOCK_bmin,building_type_BRICK_bmin,building_type_MONOLIT_bmin,building_type_PANEL_bmin,building_type_UNKNOWN_bmin,month_num,quarter,prehol_cnt,hol_cnt
0,0.0,1,22727.273438,2018-02-01,1,0.0,120132230303223,22727.273438,0.0,0.0,...,0,0,0,0,1,0,2,1,1,9
1,0.0,1,22727.273438,2018-03-01,1,0.0,120132230303223,22727.273438,0.0,0.0,...,0,0,0,0,1,0,3,1,1,11
2,0.0,1,43478.261719,2018-06-01,1,0.0,120132230332230,43478.261719,0.0,1.0,...,0,0,0,0,1,0,6,2,1,10

In [3]:
profile = prof.ProfileReport(df)
profile.to_file("profiling.html")

NameError: name 'prof' is not defined